@font-face {    
    font-family: 'name';    
    src: url('../../fonts/name.otf') format('opentype');     
}

.name-wrapper {
    position: relative;
    font-family: 'name', sans-serif;
    font-size: 4.5em;
}