@font-face {    
    font-family: 'name';    
    src: url('../../fonts/name.otf') format('opentype');     
}

.streams-wrapper{
    text-align: center;
}

.streams-title {
    font-family: 'name', sans-serif;
    font-size: 2.5em;
    text-align: left;
}
