.streams {
    position: relative;
    margin-right: 9%;
    margin-left:9%;
}

.links {
    position: relative;
    margin-right: 9%;
    margin-left:9%;
    height: 55em;
}

.embed{
    margin-right: 12%;
}
.button-wrapper {
    margin-top: 2em;
    margin-left: 25%;
}
