@font-face {    
    font-family: 'name';    
    src: url('../../fonts/name.otf') format('opentype');     
}

footer {
    font-family: 'name', sans-serif;
    font-size:20px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}
.gototop {
    transition: 0.3s;
}
.gototop:hover{
    color: white;
    font-size:22px;
}

.gototop:active{
    color: white;
    font-size:22px;
}